<!-- <h1>Partial 1</h1>
<h2>{{test}}</h2>
<h2>{{error}}</h2>

<button type="button" ng-click=regUser()>Click me</button> -->


  <div class="MainBox">
    <div class="mdl-grid">
      <div class="text mdl-cell ">
        <h1>Bryan Jones</h1>
      </div>
    </div>

    <div class="image mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <img class="construction" src="../assets/construct_laptop.png" alt="Under Construction">
      </div>
    </div>

    <div class="mdl-grid">
      <div class="text mdl-cell ">
        <h3>Under Construction</h3>
      </div>
    </div>
  </div>
